@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --radius-*: initial;
  --radius-sm: 0.5rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.75rem;
  --radius-xl: 0.875rem;
  --radius-full: 99999rem;
  --color-*: initial;

  --color-main-1: var(--main-1);
  --color-main-2: var(--main-2);
  --color-main-3: var(--main-3);
  --color-main-4: var(--main-4);
  --color-main-5: var(--main-5);

  --color-white: var(--white);
  --color-gray-5: var(--gray-5);
  --color-gray-4: var(--gray-4);
  --color-gray-3: var(--gray-3);
  --color-gray-2: var(--gray-2);
  --color-gray-1: var(--gray-1);
  --color-black: var(--black);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --shadow-*: initial;
  --shadow-sidebar: 0px 4px 10px 0px #72727240;
  --shadow-tab-active: 2px 4px 10px 0px #b4b4b440;
  --shadow-level-1: 0px 4px 12px 0px #b4b4b440;
  --shadow-level-1-light: 0px 4px 12px 0px #b4b4b426;
  --shadow-level-1-lighter: 0px 4px 12px 0px #b4b4b459;
}

:root {
  --default-font-family:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;

  --main-1: #4845d3;
  --main-2: #615ef0;
  --main-3: #908ee6;
  --main-4: #bcbbff;
  --main-5: #f6f6fe;

  --white: #ffffff;
  --gray-5: #f8f8f8;
  --gray-4: #f0f0f0;
  --gray-3: #d8d8d8;
  --gray-2: #b4b4b4;
  --gray-1: #7f7f7f;
  --black: #484848;

  --red-1: #e33434;
  --red-2: #e86f6f;

  --background: var(--white);
  --foreground: var(--black);
  --card: var(--white);
  --card-foreground: var(--black);
  --popover: var(--white);
  --popover-foreground: var(--black);
  --primary: var(--main-2);
  --primary-foreground: var(--main-5);
  --secondary: var(--gray-4);
  --secondary-foreground: var(--black);
  --muted: var(--gray-4);
  --muted-foreground: var(--gray-2);
  --accent: var(--gray-4);
  --accent-foreground: var(--black);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--gray-4);
  --input: var(--gray-2);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--white);
  --sidebar-foreground: var(--black);
  --sidebar-primary: var(--black);
  --sidebar-primary-foreground: var(--white);
  --sidebar-accent: var(--gray-4);
  --sidebar-accent-foreground: var(--black);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
